<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cst2335.finalproject">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity android:name=".SongsterFavourite"></activity>
        <activity android:name=".SoccerFavouriteNewsDetailPage" />
        <activity android:name=".SoccerFavSoccerGames" />
        <activity android:name=".SoccerNewsDetailPage" />
        <activity android:name=".SoccerActivityMain" />
        <activity android:name=".SongsterFavouriteEmpty"></activity>

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name=".SongsterFavourite" />
        <activity android:name=".SongsterEmptyActivity" />
        <activity android:name=".SongsterActivity" />
        <activity android:name=".savedCarList" />
        <activity android:name=".IndividualQuestionActivity"/>
        <activity android:name=".CarDatabaseEmptyActivity" />
        <activity
            android:name=".MainActivityCarDatabase"
            android:label="Car Database V1" />
        <activity android:name=".Songster_Search" />
        <activity android:name=".QuestionsActivity" />
        <activity android:name=".TriviaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
